$dark: #272727;
$siberian-blue: #1390e5;
$crystal-white: #ffffff;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
