/*
 * TextInput scss File
*/
@import "src/assets/scss/variables";

.text-input {
  display: flex;
  align-items: center;

  &__label {
    display: inline-block;
    margin-right: 20px;
    width: 170px;
  }
  /* properties here */
  &__input {
    border: none;
    width: 400px;
    max-width: 100%;
    border-bottom: 1px solid $siberian-blue;
    transition: border-bottom-width 0.3s;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: $dark;

    &:focus {
      border-bottom-width: 3px;
      font-weight: 500;
    }
  }

  &__val-text {
    margin-bottom: 0;
    margin-left: 20px;
    color: #ff0808;
  }

  &_invalid {
    border-bottom: 3px solid #ff0808;
  }
}
