@import "../../assets/scss/variables";
/*
 * Header scss File
*/

.header {
  &__container {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;

    @media (max-width: 992px) {
      position: absolute;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      justify-content: center;
      align-content: center;
      flex-flow: column;
      z-index: 2;
      left: 0;
      top: 0;
      bottom: 0;
      width: 400px;
      @media (max-width: 576px) {
        width: 100%;
      }
      transform: translateX(-200%);
      transition: all 0.5s;
      background: $crystal-white;

      &.expanded {
        transform: translateX(0);
      }
    }
  }

  &__menu-btn {
    padding: 20px;
    border: none;
    background: none;

    @media (min-width: 992px) {
      display: none;
    }
  }
  margin-bottom: 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  &__links {
    display: flex;
    padding: 0;
    margin: 0;
    @media (max-width: 992px) {
      flex-flow: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__link-item,
  &__logout {
    display: block;
    padding: 25px 25px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      transform: scale(0);
      background: #1390e5;
      transition: 0.5s;
    }

    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (max-width: 992px) {
      justify-content: center;
      margin: 0;
    }
  }

  &__user-name {
    display: flex;
    margin-left: 5px;
    color: $siberian-blue;
  }

  &__logout {
    border: none;
    background: none;
  }
}
