@import "scss/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $dark;
}

* {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

a {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: $dark;
    text-decoration: none;
  }
}

.spin {
  &_fullscreen {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
